header {
  position: static;
  top: 0;
}
nav {
  position: sticky;
  top: 0;
  z-index: 99;
}
.title {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  padding: 7px 0;
}
.title img {
  width: 40px;
  height: 40px;
  border-radius: 10%;
}
.title img:first-child {
  position: relative;
  left: -20px;
}
.title img:last-child {
  position: relative;
  right: -20px;
}
.title span {
  font-size: 2.5em;
  color: white;
}
.nav {
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo img {
  width: 15px;
  height: 15px;
}
.logo img:last-child {
  position: relative;
  top: -3px;
}
.logo span {
  display: block;
  position: relative;
  top: -2px;
}
.nav__btn {
  display: flex;
}
.logo + .nav__btn {
  position: flex;
  width: 140px;
  justify-content: flex-start;
  padding: 15px 0px 15px 15px;
}
.logo + .nav__btn span:first-child,
.logo + .nav__btn span:last-child {
  background: #111111;
  margin-right: 5px;
  display: flex;
  width: 60px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  color: white;
  font-weight: 500;
  padding: 5px 0px;
  cursor: pointer;
}
.logo + .nav__btn span:last-child {
  background: none;
  color: black;
}
.logo + .nav__btn span:last-child:hover {
  background: #efefef;
}
.nav__input {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.nav__input input {
  width: 75%;
  height: 50px;
  border: none;
  background: #efefef;
  border-radius: 20px;
  padding: 0px 20px;
}
.nav__input input:focus {
  outline: none;
}
.nav__input input:hover {
  background: lightgray;
}
.nav__input-placeholder {
  position: absolute;
  margin-left: 25px;
  color: rgba(0, 0, 0, 0.5);
}
.nav__icons {
  padding-left: 20px;
  display: flex;
  width: 200px;
  height: 80px;
  justify-content: space-around;
  align-items: center;
  font-size: 28px;
  flex: 1;
  color: #757576;
  position: relative;
}
.nav__icons .user,
.nav__icons i {
  display: flex;
  cursor: pointer;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.nav__icons .user:hover,
.nav__icons i:hover {
  background: #efefef;
}
.nav__input-display {
  display: none;
}
.menu {
  width: 100px;
  height: 150px;
  background-color: #efefef;
  color: black;
  position: absolute;
  top: 70px;
  right: 5px;
  font-size: 0.6em;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding-right: 7px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.menu span {
  font-size: 16px;
  cursor: pointer;
}
.visible {
  display: none;
}
